:root{
    --header-color: #ffffff;
    --primary-text-color: #555555;
    --second-text-color: #303030;
    --third-text-color: #9DA4BD;
    --primary-title-color: #ffffff;
    --second-title-color: #303030;
    --accent-color: #FF6C00;
}

body{
    font-family: 'Open sans', sans-serif;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

.btn-light {
    color: #FFFFFF;
}

.btn-dark {
    color: #303030;
}

.pre-title{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.pre-title{
    color: rgba(157, 164, 189, 0.6);
    ;
}

.pre-title-dark{
    color: var(--second-text-color);
}

.after-title{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.after-title-light{
    color: var(--third-text-color);
}

.after-title-dark{
    color: var(--primary-text-color);
}

.section-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.section-title-dark{
    color: var(--second-title-color)
}

/* --------------------header-------------------- */

.header{
    background-color: var(--primary-text-color);
}

.menu-link{
    font-weight: 600;
    font-size: 12px;
    line-height: 1,33;
    letter-spacing: 0.1em;
    color: var(--header-color)
}

.menu-link:hover, 
.menu-link:focus{
    color:var(--accent-color);
}

.header-tel{
    font-weight: 600;
    font-size: 12px;
    line-height: 1, 33;
    letter-spacing: 0.1em;
    color: var(--header-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/* --------------------hero-------------------- */

.hero-right{
    background-color: var(--primary-text-color)
}

.hero-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--second-text-color)
}

.hero-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--primary-title-color);
}

/* --------------------about-------------------- */

.about-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}